<div id="img" class="mt-5 ">
  <div class="container ">
    <div class="row p-5 ">
      <div class="col-lg-12 text-center">
        <h1>Trở Thành Tình Nguyện Viên</h1>
      </div>
      <div class="col-lg-12 text-center">
        <p>Truyền cảm hứng cho nhân viên và tổ chức hỗ trợ các hoạt động mà họ quan tâm
          trong khoảng. Chúng tôi làm điều này để mang lại nhiều tài nguyên hơn cho các tổ chức phi lợi nhuận đang thay đổi thế giới của chúng ta.</p>
      </div>
      <div class="col-lg-12 text-center">
        <button class="btn btn-outline-light">Tham Gia Ngay</button>
      </div>
    </div>
  </div>
</div>
