<div id="img" class="mt-5 ">
  <div class="container ">
    <div class="row p-5 ">
      <div class="col-lg-12 text-center">
        <h1>Become Volunteer</h1>
      </div>
      <div class="col-lg-12 text-center">
        <p>Inspires employees and organizations to support causes they care
          about. We do this to bring more resources to the nonprofits that are changing our world.</p>
      </div>
      <div class="col-lg-12 text-center">
        <button class="btn btn-outline-light">Join Now</button>
      </div>
    </div>
  </div>
</div>
