.container{
  font-family: 'Times New Roman', Times, serif;

  margin: auto;
}
#left{
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
}

#btn1{
  padding: 11px 45px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

#Other{
  padding: 14px 30px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
#input{
  height: 60%;
  margin-bottom: 10px;
}

.pt-5{
  background-size: cover;
  image-rendering: pixelated;
  object-fit: cover;
  background-position: center center;
}
