<div class="container p-5">

  <div class="card o-hidden border-0 shadow-lg my-5 mt-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <br>
            <form class="user" [formGroup]="userService.formModel" autocomplete="off" (submit)="onSubmit()" >
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0" >
                  <input formControlName="userName" type="text" class="form-control form-control-user " id="exampleUserName" placeholder="UserName" >
                  <label class="text-danger" *ngIf="userService.formModel.get('userName').touched && userService.formModel.get('userName').errors?.required">This field is mandatory.</label>
                </div>
                <div class="col-sm-6">
                  <input formControlName="fullName" type="text" class="form-control form-control-user" id="exampleFullName" placeholder="Full Name">

                </div>
              </div>
              <div class="form-group">          
                  <input formControlName="phoneNumber" type="text" class="form-control form-control-user" id="exampleLastPhone" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <input formControlName="email" type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                <label class="text-danger" *ngIf="userService.formModel.get('email').touched && userService.formModel.get('email').errors?.full">Invalid email address.</label>

              </div>

              <div class="form-group row" formGroupName="passwords">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input formControlName="password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                  <label class="text-danger" *ngIf="userService.formModel.get('passwords.password').touched && userService.formModel.get('passwords.password').errors?.required">This field is mandatory.</label>
                  <label class="text-danger" *ngIf="userService.formModel.get('passwords.password').touched && userService.formModel.get('passwords.password').errors?.minlength">Minimun 4 characters required.</label>
                </div>
                <div class="col-sm-6">
                  <input formControlName="confirmPassword" type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                  <label class="text-danger" *ngIf="userService.formModel.get('passwords.confirmPassword').touched && userService.formModel.get('passwords.confirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
                </div>
              </div>
              <button href="login.html" class="btn btn-primary btn-user btn-block" [disabled]="!userService.formModel.valid">
                Register Account
              </button>


            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
