<div class="container">
  <div class="card my-3 shadow-lg p-2 mb-5 bg-white rounded">
    <div class="card-header" id="bordercard">
      <div class="row justify-content-between">
        <div class="col-auto">
          <h1>Gói Hỗ Trợ Người Nghèo</h1>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Chọn lọc</label>
            <select  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Chọn...</option>
              <option value="1">Tiêu Đề </option>
              <option value="2">Tên</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-6 my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Tìm Kiếm</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary " type="button"
                  >Tìm Kiếm</button>
              </div>
              <input type="text" name="firstName" [(ngModel)]="firstName" (ngModelChange)="Search()" class="form-control">
            </div>
          </div>
        </div>
      </form>

      <hr>
      <table class="table table-sm table-striped table-hover">
        <thead class="table-dark text-center">
          <tr>
            <th scope="col" (click)="sort('title')">Tên Gói &nbsp;<i class="fa fa-sort"></i></th>
            <th scope="col" (click)="sort('firstName')">Họ và Tên Người Nhận&nbsp;<i class="fa fa-sort"></i></th>
            <th scope="col">Mục tiêu</th>
            <th scope="col">Địa Chỉ</th>
            <th scope="col">Xác Nhận</th>
            <th></th>
            <th></th>
            <th></th>

          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let package of package1List | orderBy:key:reverse |paginate:{itemsPerPage:5, currentPage:p};">
            <td>{{package.title}}</td>
            <td>{{package.person.lastName +" "+ package.person.firstName}}</td>

            <td style="width: 80px;">{{package.target}} $</td>
            <td>{{package.person.address}}</td>
            <td>
              <button class="btn btn-group" style="color: green;" *ngIf="package.confirm==='da xac thuc'" disabled><i class="fas fa-check-circle "></i></button>
              <button class="btn btn-group" *ngIf="package.confirm===''" disabled><i class="fas fa-spinner"></i></button>
              <button class="btn btn-group" *ngIf="package.confirm==='da xoa'" disabled><i class="fas fa-times-circle"></i></button>
            </td>
            <td>
              <!-- <button class="btn btn-group" type="button" data-toggle="modal"
              data-target="#exampleModalCenter"></button> -->
              <button class="btn btn-primary" (click)="onEdit(package)" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-list" aria-hidden="true"></i></button>
                <!--Ko xài ngb boostrap thì tự nghĩ cách phân biệt 2 nút này-->
            </td>
            <td>
              <div>
                <button class="btn btn-warning" (click) = "loadDSDN(package._id,package.title)" data-toggle="modal" data-target="#danhsachModal" ><i class="fas fa-donate"></i></button>
              </div>
            </td>
            <td>
              <div>
                <button class="btn btn-secondary" (click) = "loadDSTN(package._id,package.title)" data-toggle="modal" data-target="#danhsachModal" ><i class="fas fa-hands-helping"></i></button>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
      <div class="row justify-content-center">
        <pagination-controls class="col-auto" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Chỉnh sửa chi tiết gói</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <form [formGroup]="editForm"  (ngSubmit)="onSubmit()">
            <div class="form-row">

              <div class="form-group col-sm">
                <div class="form-row-12">
                  <h5>1.Chi Tiết Gói</h5>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Tiêu Đề</label>
                    <input formControlName="title"  id="title" type="text" class="form-control" required/>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Mô Tả</label>
                    <textarea formControlName="description" id="description"  required class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Xác Thực</label>
                    <div class="form-check ml-2">
                      <input class="form-check-input" formControlName="confirm" type="radio" name="confirm" id="exampleRadios1" value="da xac thuc" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        Đã Xác Thực
                      </label>
                    </div>
                    <div class="form-check ml-2">
                      <input class="form-check-input" formControlName="confirm" type="radio" name="confirm" id="exampleRadios2" value="dang cho">
                      <label class="form-check-label" for="exampleRadios2">
                        Chưa Xác Thực
                      </label>
                    </div>

                    <div class="form-check ml-2">
                      <input class="form-check-input" formControlName="confirm" type="radio" name="confirm" id="exampleRadios3" value="da xoa" >
                      <label class="form-check-label" for="exampleRadios4">
                        Đã Xoá
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Mục Tiêu</label>
                    <input formControlName="target" id="target"  placeholder="target" type="number" required class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Đã Đạt Được</label>
                    <input formControlName="raised" id="raised"  placeholder="raised" type="number"  disabled class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label for="exampleFormControlFile1">File Chính Sách<br>
                      (Sổ Hộ Nghèo, Khu Vực Khó Khăn...)</label>
                    <input formControlName="accuracy" id="accuracy" disabled placeholder="accuracy" type="input" class="form-control-file" id="exampleFormControlFile1">
                    <!-- <input formControlName="accuracy" id="accuracy" placeholder="accuracy" type="file" class="form-control-file mt-2" id="exampleFormControlFile1"> -->
                  </div>
                </div>
              </div>
              <div class="form-group col-sm" formGroupName="person">
                <div class="form-row-12">
                  <h5>2.Chi Tiết Cá Nhân</h5>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Tên</label>
                    <input formControlName="firstName" id="firstName"   placeholder="firstName" required type="text" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Họ</label>
                    <input formControlName="lastName" id="lastName"  placeholder="lastName" required type="text" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Giới Tính</label>
                    <input formControlName="gender" id="gender"  placeholder="gender" required type="text" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10" >
                    <label>Ngày Sinh</label>
                    <input formControlName="dob" id="dob" placeholder="dob" type="text" required type="datetime" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Địa Chỉ</label>
                    <input formControlName="address" id="address" placeholder="address" type="text" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-10">
                    <label>Hình Ảnh</label>
                    <input formControlName="avatarUrl" id="avatarUrl"  required type="input" disabled class="form-control-file" id="exampleFormControlFile1">

                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- <pre>{{ form.value | json }}</pre> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button class="btn btn-success" type="submit"(click)="onSubmit()" >Cập Nhật</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="danhsachModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Danh sách {{action}}</h3>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <h4 class="modal-title mb-3" style="color: rgb(149, 149, 224)">{{titl}}</h4>
          <table class="table table table-striped table-hover">
            <thead class="table-dark text-center">
              <tr>
                <th scope="col">Họ và tên</th>
                <th scope="col">Tên tài khoản</th>
                <th scope="col">Số tiền ủng hộ</th>
                <th scope="col">Số điện thoại</th>

              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-center" *ngFor="let item of danhsach | orderBy:key:reverse |paginate:{itemsPerPage:5, currentPage:p};">
                <div *ngIf="item.style == 'donate'">
                  <td>{{item.cardHolderName}}</td>
                </div>
                <div *ngIf="item.style != 'donate'">
                  <td>{{item.hovaten}}</td>
                </div>
                <td>{{item.username}}</td>

                  <td>{{item.donate}} $</td>


                  <td>{{item.sdt}}</td>

              </tr>
            </tbody>

          </table>
          <div class="row justify-content-center">
            <pagination-controls class="col-auto" (pageChange)="p = $event"></pagination-controls>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>

