<div class="bg-light border-right " id="sidebar-wrapper">
  <div class="sidebar-heading collapse" id="collapseExample">
    <h5>Admin Charity</h5>
  </div>
  <div class="list-group list-group-flush collapse" id="collapseExample">
    <a routerLink="/admin/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action text-secondary"> Dashboard</a>
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
      class="dropdown-toggle list-group-item list-group-item-action text-light">QL Gói Từ Thiện</a>
    <div class="collapse list-group" id="homeSubmenu">
      <a routerLink="/admin/goimot" class="list-group-item  list-group-item-action  ml-2 text-light"> Gói Hỗ Trợ Người Nghèo </a>
      <a routerLink="/admin" class="list-group-item list-group-item-action  ml-2 text-light"> Gói Hạt Gạo Tình
        Thương </a>
      <a routerLink="/admin" class=" list-group-item list-group-item-action ml-2 text-light"> Các Gói Được
        Tạo</a>
    </div>
    <a routerLink="/admin/nguoituthien" routerLinkActive="active" class="list-group-item list-group-item-action text-secondary">Người Từ Thiện</a>
    <a routerLinkActive="active" class="list-group-item list-group-item-action text-secondary"> Tin Tức </a>
    <a routerLinkActive="active" class="list-group-item list-group-item-action text-secondary"> Tình Nguyện Viên </a>
    <a routerLink="/admin/account" routerLinkActive="active" class="list-group-item list-group-item-action text-secondary"> Account </a>
    <a routerLinkActive="active" to="/" class="list-group-item list-group-item-action  text-secondary">My Profile</a>
  </div>
</div>
