#page-content-wrapper {
  min-width: 100vw;

  }
  #wrapper {
    overflow-x: scroll;
    border-radius: 10px;
    margin: 10px;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    overflow: scroll;
  }
  #page-content-wrapper{
    /* background-image: url(../assets/22249341.png); */
    background-color: rgb(240, 240, 240);
    }
