
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">
    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="far fa-smile"></i>
          <span data-toggle="counter-up">232</span>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="fas fa-clipboard-check"></i>
          <span data-toggle="counter-up">521</span>
          <p>Projects</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fas fa-dollar-sign"></i>
          <span data-toggle="counter-up">100,463$</span>
          <p>Total Money</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fas fa-hands-helping"></i>
          <span data-toggle="counter-up">500</span>
          <p>Volunteer</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->

<div class="container marketing my-5">
  <div class="row featurette my-5"  *ngFor="let package1 of package1List">
    <div class="col-md-7">
      <p id="up">Upcoming Cause</p>
      <h3>{{package1.title}}</h3>
      <p class="featurette-heading">{{package1.description}}</p>
      <div class="row">
        <div class="col-lg-3">
          <label>Target</label>
          <h5 id="h5"> ${{package1.target}} </h5>
        </div>
        <div class="col-lg-3 ">
          <label>Raised</label>
          <h5 id="h5"> ${{package1.raised}} </h5>
        </div>
        <div class="col-lg-6">
          <br>
          <button id="donate" class="btn btn-danger mt-2"> Donate Now </button>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <img src={{package1.person.avatarUrl}} class="rounded mx-auto d-block bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="..." width="500" height="500"
      preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
    </div>

  </div>
  <hr>
</div>

<div class="container mt-5" id="producttype">

  <div class="row text-center">
    <div class="col-lg-12">
      <h4>We Work For</h4>
      <h1>We Serve For Peoples</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice"
        focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h2>Project</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice"
        focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h2>Person</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      </p>
      <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice"
        focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h2>Rice</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
        massa justo sit amet risus.</p>
      <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
<hr class="featurette-divider mt-5">
