<div class="container p-5">

  <!-- Outer Row -->
  <div class="row justify-content-center mt-5">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user"  #form='ngForm' autocomplete="off" (ngSubmit)="form.valid && onSubmit(form)">
                  <div class="form-group">
                    <input #userName="ngModel" name="userName" [(ngModel)]="formModel.userName" type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." required
                    [ngClass]="{'invalid-textbox':form.submitted && !userName.valid}">
                    
                    <label class="text-danger" *ngIf="form.submitted && userName.errors?.pattern">This field is mandatory.</label>

                  </div>
                  <div class="form-group">
                    <input #password="ngModel" name="password" [(ngModel)]="formModel.password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password"
                    [ngClass]="{'invalid-textbox':form.submitted && !password.valid}">
                    <label class="text-danger" *ngIf="form.submitted && password.errors?.minlength">Minimum 4 characters.</label>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button  class="btn btn-danger btn-user btn-block" [disabled]="form.invalid" [routerLink]="['/home']" (click)="login()">
                    Login
                  </button>

                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <br>
                <a class="btn btn-primary btn-user btn-block" [routerLink]="['/user/register']">
                  Sign Up
                </a>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
